.l-1{
    flex: 50;
}
.font{
    font-family: serif;
}
.flex{
    display: flex;
   gap: 1rem;
   overflow-x: auto;
    scrollbar-width: none;
    margin-top: 10px;
    width: 100%;
}
.img{
    width: 160px;
    height: 240px;
    object-fit: cover;
}
.pb-6{
    padding-bottom: 80px !important;
}
.l-1{

    flex: 50;
}